.body {
    overflow-x: hidden;
    padding: 0px;
}

/*ヘッダースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.header {
    display: flex;
    flex-direction: row;
    height: 67px;
    background: #222831;
    border: 1px solid #000000;
    width: 100%;
}

/*タイトルスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.title_bg {
    display: flex;
    width: 107px;
    height: 45px;
    margin: 11px;
    background: #DDDDDD;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    text-align: center;
    align-items: center;
}

.favicon {
    width: 33px;
    height: 33px;
    margin-left: 9px;
}

.title_name {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    padding-top: 3px;

    color: #000000;
}

/*タイトルスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*ログアウトボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.logout_btn_bg {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 150px;
    height: 45px;
    margin-top: 11px;
    margin-right: 11px;
    margin-left: auto;
    background: #F05454;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    text-align: center;
    align-items: center;
}

.logout_text {
    margin-left: 5px;
    margin-top: 12px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    width: 105px;
    height: 33px;
    color: #FFFFFF;
}

.logout_icon {
    width: 33px;
    height: 33px;
}


/*ログアウトボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*ヘッダースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*カレンダースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_bg_1 {
    display: flex;
    margin: 10px 11px 0 11px;
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 596px;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.carender_bg_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/*カレンダー情報作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_info_bg {
    display: flex;
    flex-direction: row;
    height: 26px;
    margin: 5px;
    flex: 1;
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    background-color: #fff;
}

.carender_info_wiget {
    width: 129px;
    height: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.carender_mounth_wiget {
    height: 26px;
    margin: 0 5px;
    flex: 1;
    max-width: calc(100% - 2px);
    /* 横マージンを考慮した最大幅 */
    background-color: #fff;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    color: #000000;
}

.carender_day_wiget {
    font-family: 'Noto Serif';
    font-style: normal;
    max-width: 100%;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #52616B;
    display: flex;
    align-items: flex-end;
}

.employee_user_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 2px solid #52616B;
    Overflow: hidden;
    cursor: pointer;
}

.employee_user_icon_head {
    display: flex;
    background: #52616B;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.employee_user_icon_body {
    display: flex;
    background: #52616B;
    width: 21px;
    height: 16px;
    border-radius: 40% 40% 0% 0%;
    margin-top: 2px;
}

.user_name {
    max-width: 100%;
    height: 26px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: flex-end;
    color: #52616B;
}

/*カレンダー情報作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*ウィークビュースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_weekview {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 52px;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0px 5px;
}

/*両端に4pxのmarginを設ける事とする*/

.carender_week_bg {
    width: 68px;
    height: 52px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background: #F05454;
    border-radius: 13px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.carender_week_elem {
    height: 12px;
    margin: 5px 5px 0px 5px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.carender_week {
    height: 30px;
    margin: 0px 5px 5px 5px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    color: #fff;
}


/*ウィークビュースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_bg_3 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 488px;
    margin: 5px;
    background: #FFFFFF;
}

/*カレンダ―タイトルスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_title_bg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 21px;
    border: 1px solid #000000;
}

.carender_blank {
    width: 20%;
    height: 20px;
    border-right: 1px solid #000000;
}

.carender_title_time {
    width: 10%;
    height: 20px;
    border-right: 1px solid #000000;
}

.carender_title_workcord {
    width: 20%;
    height: 20px;
    border-right: 1px solid #000000;
}

.carender_title_consnum {
    width: 20%;
    height: 20px;
    border-right: 1px solid #000000;
}

.carender_title_work_content {
    width: 30%;
    height: 20px;
}


/*カレンダ―タイトルスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_content_bg {
    width: 100%;
    height: 428px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
}

/*合計就労時間スタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.total_work_line {
    width: 70%;
    height: 39px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: auto;
    margin-right: 0px;
}

/*合計就労時間スタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*カレンダースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*日報編集ボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.edit_btn_bg_1 {
    display: flex;
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 80px;
    margin: 10px 11px 0 11px;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.edit_btn_bg_2 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 70px;
    margin: 5px;
    background: #FFFFFF;
    border: 4px solid #05BFDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/*日報編集ボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*日報送信ボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.send_btn_bg_1 {
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 65px;
    display: flex;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 10px 11px 6px 11px;
}

.send_btn_bg_2 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 55px;
    margin: 5px;
    background: #FFFFFF;
    border: 4px solid #F05454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/*日報送信ボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/